<h1>{{ title }}!</h1>
<button (click)="setLanguage('fr')" i18n="app|Button text for setting france language@@button select fr">Set french language</button>
<br/>
<button (click)="setLanguage('de')" i18n="app|Button text for setting german language@@button select de">Set german language</button>

<span i18n="app|Label with plural@@label with plural">
  We have {total, plural, =0 {no items.} =1 {1 single item} other {{{total}} items.}}
</span>


<h1 i18n="app|Label for testing@@label testing">Label for testing the translations</h1>
<br>
<br>
<nav>
  <a routerLink="/lazy" i18n="app|Text for link of lazy loaded module@@link Lazy Loaded">Load lazy loaded module</a>
</nav>

<router-outlet></router-outlet>
