<h1>{{ title }}!</h1>
<p i18n="app|Text for the site header@@site header">
  It works! {{ title }}
</p>
<button (click)="setLanguage('fr')" i18n="app|Button text for setting france language@@button select fr">Set french language</button>
<br/>
<button (click)="setLanguage('de')" i18n="app|Button text for setting german language@@button select de">Set german language</button>

<nav>
  <a routerLink="/lazy" i18n="app|Text for link of lazy loaded module@@link Lazy Loaded">Load lazy loaded module</a>
</nav>

<router-outlet></router-outlet>
